.mfn-item-header {
    display: flex;
    flex-direction: column;
}

.mfn-feed-year-header {
    margin-top: 20px;
    cursor: default;
}

.mfn-date {
    display: inline-block;
    cursor: default;
}

.mfn-newsfeed-pagination {
    margin-top: 20px;
}

.mfn-item {
    margin-bottom: 40px;
}

.mfn-tag {
    margin: 0 5px 5px 0;
    padding: 5px 10px 5px 0;
    cursor: default;
    white-space: nowrap;
}

.mfn-filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.mfn-filter-button-active {
    background: #ffffff;
    color: white;
}

.mfn-filter-container select {
    appearance: none;
    padding: 0 30px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 36px;
    cursor: pointer;
    width: 250px;
    margin-bottom: 20px;
    height: 36px;
    background: #ffffff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMy4yNDUgNGwtMTEuMjQ1IDE0LjM3NC0xMS4yMTktMTQuMzc0LS43ODEuNjE5IDEyIDE1LjM4MSAxMi0xNS4zOTEtLjc1NS0uNjA5eiIvPjwvc3ZnPg==) no-repeat right 10px top 50%;
    background-size: 18px 18px;
}

.mfn-category-filter {
    margin-bottom: 20px;
}

.mfn-newsfeed-category-selector, .mfn-newsfeed-year-selector {
    margin-right: 20px;
}

.mfn-year a {
    margin: 0 25px 0 0;
    letter-spacing: -0.6pt;
    padding: 5px 0 0 0;
    color: #332d2f;
    white-space: nowrap;
    outline: none;
}

.mfn-tags {
    display: flex;
    flex-wrap: wrap;
}

.mfn-title {
    font-size: 26px;
    margin-bottom: 10px;
}

.mfn-title a {
    outline: none;
}

.mfn-newsfeed-pagination {
    display: flex;
    justify-content: space-between;
}

.mfn-attachments-container .mfn-attachment {
    display: flex;
    align-items: center;
    min-height: 80px;
    height: 80px;
}

.mfn-attachments-container .mfn-attachment .mfn-attachment-link {
    display: inline-block;
    vertical-align: middle;
}

.mfn-attachments-container .mfn-attachment .mfn-attachment-icon {
    margin-right: 20px;
}

.mfn-attachments-container .mfn-attachment .mfn-attachment-icon img {
    width: 55px;
    border: 1px solid #eee;
}

.mfn-attachments-container .mfn-attachment .mfn-attachment-icon .dash {
    width: 55px;
    font-size: 30px;
    text-align: center;
}

.mfn-filter-select {
    display: block;
}
